<!DOCTYPE html>
<html class="no-js" ng-app ng-csp>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ext-Switch Options</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/foundation.min.css">
        <style>
        	p {
        		font-size: 0.9em;
        	}

			*.no-margin {
				margin: 0px;
			}

			button, .button {
				outline: none;
			}

			#whitelist-table {
				width: 100%;
			}
        </style>
    </head>
    <body>
		<div class="row">
			<div class="large-8 large-centered columns">
				<div id="main">
					<h1>Ext-Switch Options</h1>
					<div class="panel" id="about">
						<h3>About</h3>
						<p>Ext-Switch was created by <a href="http://nick.comer.io" target="_blank">Nick Comer</a>. This extension's intended purpose is to be able to switch all extensions in your browser on and off with ease, because sometimes extensions can interfere with the intended functionality or appearance of web pages.</p>
						<p>Ext-Switch is donation-ware, so if you have any spare change, donating to the continued development of this extension is much appreciated :]</p>
						<p>Donate with <a href="http://bitcoin.org/" target="_blank">Bitcoin</a>: <b>1Q2KEafPAtrGEagpvrfBsGF4pT6Tpi6deK</b></p>
					</div>
					<div class="panel" id="ignore-list" ng-controller="IgnoreListCtrl" ng-init="refresh()">
						<h3>Ignore</h3>
						<p>Check the extensions below that are to be ignored when switching extensions on and off.</p>
						<div id="ignore">
							<div id="ignore-table-wrapper">
								<table id="ignore-table">
									<thead>
										<tr>
											<th>Ignore</th>
											<th>Extension Name</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="ext in extensions | orderBy:'name'" class="extension">
											<td>
												<input type="checkbox" ng-model="ext.ignore" ng-change="save()">
											</td>
											<td>
												<h5>{{ext.name}} <small>({{ext.id}})</small></h5>
												<p class="no-margin">{{ext.description}}</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="panel" ng-controller="ResetCtrl">
						<h3>Reset Everything</h3>
						<p>Having some trouble with this extension? Click here to reset all extension data.</p>
						<button class="small" ng-click="reset()">Reset</button>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/async.min-0.2.9.js"></script>
		<script src="/js/underscore-min-1.5.2.js"></script>
		<script src="/js/angular.min-1.2.1.js"></script>
		<script src="/js/options.js"></script>

    </body>
</html>